<div class="header-container container">
  <header>
    <a href="{{ site.url }}" class="top-link" style="color:#828282;">{{ site.name }}</a>
      <ul class="nav">
        <!--Change the  URL here if working on an absolute domain-->
        <li><a href="{{ site.url }}">About Me</a></li>
        <li><a href="{{ site.url }}/blog">Blog</a></li>
        <li><a href="{{ site.url }}/reading-list">Reading List</a></li>
          <!-- <li><a href="{{ site.owner.github }}" target="_blank">Projects</a></li> -->
        <!-- <li><a href="{{ site.url }}/contact">Contact</a></li> -->
      </ul>
  </header>
</div>
