<nav>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>Hi, I'm <a href="http://people.csail.mit.edu/iychen/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>
    <p>Math, computer science, and story-telling.</p>
    <p>Reach me at iychen [at] mit [dot] edu</p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
