.mission {
	text-align: left;
}

.team-member-name { 
	font-size: 18px; 
} 
.team-member-role { 
	font-size: 14px; 
} 
.teamAvatar {
	border: 0;
	border-radius: 100px;
}
#team .members img {
	border-radius: 100px;
}

.mission{
  font-size: 1.25em;
  text-align: left;
}

.team-desc{
  font-size: 1.1em;
}

.news {
  text-align: left;
}